body {
    background-color: goldenrod;
    font-family: 'Bebas Neue', cursive;

}

h1 {
    font-size: 75px;

}

.hero-image {
    background-image: url("/images/hu9ho1q1ihtxl0o7sldn.jpg");
    background-color: #cccccc;
    /* filter: contrast(150%); */
    height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}